html{
    scroll-behavior: smooth;
}
* {  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}
i{
    color: #2fccd0;
}

.header{
    width:100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,168,255,0.3), rgba(0,168,255,0.3)), url('../image/imgheader.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
    position: relative;
}
.header:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0% ;
    left: 0%;
    right: 0%;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}
.navbar:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0% ;
    left: 0%;
    right: 0%;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}
.nav-item a{
    color: #fff!important;
    font-weight: bold;
}
.hearder-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}
.center-div{
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); 
    
}
.header-buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.header-buttons a:hover{
    color: #50d1c0;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}


.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;
}
.extradiv{
    background: #fff;
    border: medium none;
    text-align: center;
    padding: 50px!important;
    border-radius: 3px;
    transition: 0.3s; 
}
.extradiv h2{
    font-size: 1.7rem;
    margin:  20xp 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
    padding-top: 1.3rem;
}
.extradiv p{
    padding-top: 1.5rem;
    font-weight: 300;
}
.extradiv:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}


/* service offer css */


.serviceoffers{
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
}
.headings{
    margin-bottom: 50px;
}
.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}

.servicediv h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
.service-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress{
    height: 0.6rem!important;
    margin-bottom: 25px!important;
}
.cardset{
    padding-top: 60px;
}
/* work done */

.project-work{
    margin: 70px 0;
}
.project-work h1{
    padding-top: 40px;
    font-size: 2rem;
    text-align: center;
}

/* pricing css  */

.pricing{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}
.pricing:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0% ;
    left: 0%;
    right: 0%;
    z-index: -1;
    background: linear-gradient(160deg, #16c9f6 55%,#fff 0% );
}
/* .row{
    padding-top: 60px;
} */
.money{
    font-size: 40px;
    line-height: 1;
    color: #606060;
}
.card{
    transition: 0.4s ease;
}
.card-header{
    font-size: 1.4rem;
    font-weight: bold;
    background: #fff!important;
    padding: 25px 9!important;
}
.card-body{
    padding: 30px 0px!important;
}
.card-body li{
    margin: 10px 0;
    font-weight: 350;
    font-size: 13px;
    line-height: 1.5;
    color: #606060;
}
.card-footer{
    background: white!important;
    padding: 30px 0px!important;
}
.card-footer a{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.card:hover .card-footer a{
    color: #fff;
    background: #50d1c0;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover .card-header, .card:hover .money{
    color: #50d1c0;
}
.card-second{
    transform: translateY(-20px);
}

/*  */

.happyclients{
    width: 100%;
    height: auto;
    padding: 80px 0;
    
}
.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2); 
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: 0.3s ease;
}
.box-hover{
    background: #16c9f6;
}
.box-hover p{
    color: white;
}
.carousel-indicators{
    position: absolute ;
    right: 0;
    bottom: -60px!important;
}
.carousel-indicators li{
    background-color: #16c9f6!important;
}
.box a{
    position: relative;
}
.box a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}
.box a::after{
    content: "\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    color: white;
    position: absolute;
    top: 120%;
    left: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box h1{
    font-size: 18px;
    font-size: 700;
    color: #000;
    margin-bottom: 10px;
}
.box h2{
    font-size: 13px;
    font-weight: 400px;
    color: #666666;
    margin-bottom: 20px;
}
/* .carouselset{
    padding-top: 5vh;
} */

/*  */

.contactus{
    width: 100%;
    height: auto;
    /* padding: 50px; */
    position: relative;
}
.contact-wrap{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    position: relative;
}
.contact-in{
    padding: 40px 30px;
}
.contact-in:nth-child(1){
    flex: 30%;
    background: url(../image/contact5.jpg);
    color: #fff;
}
.contact-in:nth-child(2){
    flex: 45%;
    background: #c31432;
}
.contact-in:nth-child(3){
    flex: 25%;
    padding: 0;
}
.contact-in h1{
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}
.contact-in h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}
.contact-in h2 i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #f5f5f5;
    color: #000;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}
.contact-in p{
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}
.contact-in ul{
    padding: 0;
    margin: 0;
}
.contact-in ul li{
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}
.contact-in ul li a{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    border-radius: 50px;
}
.contact-in ul li a i{
    font-size: 14px;
    line-height: 30px;
    color: #000;
}
.contact-in form{
    width: 100%;
    height: auto;
}
.contact-in-input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.contact-in-input::placeholder{
    color: #fff;
}
.contact-in-textarea {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-top: 5px;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.contact-in-textarea::placeholder{
    color: #fff;
}
.contact-in-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.contact-in iframe{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 480px)
{
    .contact-in:nth-child(1){
    flex: 50%;
}
.contact-in:nth-child(2){
    flex: 55%;
    
}
.contact-in:nth-child(3){
    flex: 100%;
    
}
}

@media only screen and (max-width: 360px)
{
    .contact-in:nth-child(1){
    /* flex: 50%; */
    width: 100%!important;
    margin: auto;
}
.contact-in:nth-child(2){
    flex: 55%;
    
}
.contact-in:nth-child(3){
    flex: 100%;
    
}
}
/* ------------ */

.newsletter{
    width: 100%;
    height: auto;
    margin: 80px auto;
}
.newscon{
    padding-top: 50px;
}
.news-input{
    border-radius: 100px 0px 0px 100px!important;
    min-width: 130px;
    min-height: 45px;
    padding-top: 100px;
}
.input-group-text{
    color: #fff!important;
    background: #5bc0de!important;
    border-radius: 0px 100px 100px 0px!important;
    min-width: auto;
    min-height: 45px;
}
/* ----------- */
.footersection{
    width: auto;
    height: auto;
    padding: 70px 0 20px 0;
    background: #00abff;
    position:relative;
}
.footersection p{
    color: #fff;
    padding-top: 20px;
}
.footersection li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    
}
.footersection h3{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    padding-top: 20px;
    font-size: 1.2rem!important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
#myBtn{
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;
}
#myBtn:hover{
    background: #606060;
}






@media(max-width: 768px)
{
    .nav-item{
        text-align: center!important;
    }

    .pricing {
        /* height: 400px; */
        margin-top: 50px;
    }
    .happyclients{
        height: auto;
        margin-top: 50px;
    }
    .card-second{
        transform: translateY(0px);
        margin: 30px 0;
    }
}